<head>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <title>My Cookbooks</title>
</head>
<body>

<h1>My Cookbooks</h1>
  <p>
    <a href="/new" class="button">Add new cookbook</a>
  </p>
  <div id=container>

{{#cookbooks}}
  <div class="cookbook">
    <h3><a href="/{{_id}}" >
      {{title}}</a></h3>
    <p>Author: {{author}}</p>
    <p>Price: ${{price}}</p>
    {{#triedRecipe}}
    <b><ul> Recipes Tried:</b>
      <li>
        Recipe Title: {{recipeTitle}}
      </li>
      <li>
        Was it Tasty? {{tasty}}
      </li>
      <li>
        Page Number: {{pageNumber}}
      </li>
    </ul>
    {{/triedRecipe}}
    </div>
    <hr>
  {{/cookbooks}}
</div>
</body>
